:root {
    --site-color: #faf9f5;
}

* {
    font-family: Sans-Serif;
}

html, body {
    background-color: var(--site-color);
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2em;
    margin: 0 auto;
    max-width: 50em;
    padding: 10px;
}

header, footer {
    grid-column: 1/4;
}